/.serverless

node_modules
.env
.env.*
.DS_Store
.vscode
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
coverage
.cache
dist
build
.tmp
.serverless_plugins
.aws-sam
.aws-sam-local
.localstack
.sls-offline
.sls-cache
