service: hello-world-service

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-south-1
  stage: dev

functions:
  hello:
    handler: handler.hello
    events:
      - httpApi:
          path: /
          method: get
  register:
    handler: handler.register
    events:
      - httpApi:
          path: /register
          method: post
